@use '../abstracts/' as *;

.root{
    @include root;
}

.root_div{
    height: 98%;
    width: 98%;
    background: $gray;
    position: relative;
    z-index: 3;
}

.wrapper{
    display: flex;
    height: 100vh;
    width: 100vw;
}
