.root{
    position: absolute;
    z-index: -2;
    top: 0px;
    height: 200%;
    width: 100%;
    background-color: #1F191B;

    &_background{
        position: absolute;
        z-index: -1;
        height: 50%;
        width: 100%;
        object-fit: cover;
    }

    &_div{
        position: relative;
        top: 200px;
        display: flex;
        justify-content: space-evenly;
    }
    
    &_title{
        font-size: 120px;
        color: #ffffff;
        font-weight: 400;
        font-family: 'Furgatorio';
    }

    &_left{
        position: relative;
        display: flex;
        flex-direction: column;
        left: 0px;
        top: 15%;
        width: 15%;
    }
}