@use '../abstracts' as *;

.alignment{
    @include grid(3, 1fr, 33%);

    &_justify-center{
        display: flex;
        justify-content: center;
        margin: 15px;
    }
}

.background{
    @include grid;
}

.dndClass{
    @include grid(4, 0.5fr, 31%);

    &_logo{
        width: 60%;
        aspect-ratio: 9/9;
    }
}

.race{
    @include grid;
}