.logo{
    height: 40px;
    width: 50px;
}

.wallpaper{
    position: fixed;
    z-index: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-left: -2px;
    filter: grayscale(0);
    pointer-events: none;
}