@use '../abstracts/' as *;

////////////////// SIDEBAR //////////////////

.sidebar{
    position: fixed;
    height: 100%;
    width: $sidebar-w;
    background-color: $gray;
    transition: all 0.3s ease;

    .logo_wrap{
        display: flex;
        align-items: center;
        height: 38px;
        padding: 6px 25px 10px;
        
        a{
            color: $white;
            font-size: 35px;
            font-family: $grenze;
            opacity: 1;
            transition: $fast;
        }
        a:hover {
            text-shadow: 0 0 8px $yellow;
        }
    }

    #menu{
        height: 30px;
        width: 30px;
        line-height: 60px;
        position: absolute;
        top: 7px;
        left: 108%;
        opacity: 0.5;
        transition: $fast;
        transform: translateX(-200%);
        cursor: pointer;
    }
    #menu:hover{
        opacity: 1;
    }
}

.sidebar ul li{
    display: flex;
    height: 50px;
    transition: $fast;

    a{
        display: flex;
        align-items: center;
        width: 100%;
        color: $white;
        
        box-icon{
            min-height: 25px;
            min-width: 25px;
            margin-left: 26px;
        }

        .link_text{
            margin-left: 15px;
            font-family: $philosopher;
            font-weight: 600;
            font-size: 15px;
            opacity: 1;
            transition: $fast;
        }
    }
    a:hover { 
        text-shadow: 0 0 8px $yellow;
    }
}
.sidebar ul li:hover{
    background: #ffffff1a;
}

.user_details{
    @include user_container;

    .user_row{
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        transition: $fast;

        img{
            height: 40px;
            width: 40px;
            margin-left: $sidebar-m;
            border-radius: 10px;
            object-fit: cover;
            transition: $fast;
            z-index: 2;
        }

        .user_column{
            display: flex;
            flex-direction: column;
            width: fit-content;
            overflow: hidden;
            margin-left: 8px;
            .user_name{
                @include user_text
            }
            .user_title{
                @include user_text(15px, 0.8)
            }
        }
    }
    .user_row:hover{
        background-color: $yellow-w;
        img{
            opacity: 0.8;
        }
    }

    #logout{
        height: 100%;
        width: 25%;
        padding: 0 6% 0 4%;
        opacity: 0.5;
        transition: $fast;
    }
    #logout:hover{
        background-color: $yellow-w;
        opacity: 1;
    }
}

.login_container{
    @include user_container;
    transition: $fast;

    #google{
        height: 100%;
        min-width: $sidebar-c;
        margin-right: -5px;
        padding: 0 15px;
        transition: $medium;
    }

    #login{
        height: 100%;
        min-width: max-content;
        margin-bottom: 2px;
        color: #fff;
        border: none;
        background: none;
        font-size: 20px;
        font-family: $grenze;
        transition: $medium;
        cursor: pointer;
    }
}
.login_container:hover{
    background-color: $yellow-w;
    opacity: 1;
}

////////////////// SIDEBAR //////////////////

.sidebar.active{
    width: $sidebar-c;

    .logo_wrap a{
        @include hide(-50%);
    }

    .link_text, #logout{
        @include hide;
    }

    .user_details .user_row .user_column{
        .user_name, .user_title{
            @include hide;
        }
    }

    #login{
        @include hide(-50px);
        transition: $fast;
    }
}

////////////////// INACTIVE SIDEBAR //////////////////