@use '../abstracts/' as *;


////////////////// SIDEBAR //////////////////
.sidebar{
    position: fixed;
    height: 100%;
    width: $sidebar-w;
    background-color: $gray;
    transition: all 0.3s ease;
    z-index: 20;
    
    .logo_wrap{
        position: relative;
        display: flex;
        align-items: center;
        height: 80px;
        padding: 3px 25px 10px;
        
        a{
            color: $white;
            font-size: 40px;
            font-family: $grenze;
            opacity: 1;
            transition: $fast;
        }
        a:hover {
            text-shadow: 0 0px 10px $yellow;
        }
    }

    #menu{
        height: 30px;
        width: 30px;
        line-height: 75px;
        position: absolute;
        top: 10px;
        left: 105%;
        opacity: 0.5;
        transition: $faster;
        transform: translateX(-192%);
        cursor: pointer;
    }
    #menu:hover{
        opacity: 1;
    }
}

.sidebar ul{
    padding: 0;
    margin: 0;

    li{
        display: flex;
        height: 65px;
        transition: $faster;
        a{
            display: flex;
            align-items: center;
            width: 100%;
            color: $white-5;
            
            box-icon{
                min-height: 30px;
                min-width: 30px;
                margin-left: 23.5px;
                opacity: 0.5;
            }

            .link_text{
                margin-left: 15px;
                font-family: $philosopher;
                font-weight: 600;
                font-size: 20px;
                transition: $faster;
            }
        }
    }

    li:hover{
        background: $white-t;
        a{
            color: white;
            box-icon{
                opacity: 1;
            }
        }
    }
}

.user_details{
    @include user_container;

    .user_row{
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        transition: $faster;

        img{
            height: 50px;
            width: 50px;
            margin-left: $sidebar-m;
            border-radius: 10px;
            object-fit: cover;
            transition: $faster;
        }

        .user_column{
            display: flex;
            flex-direction: column;
            width: fit-content;
            overflow: hidden;
            margin-left: 8px;
            .user_name{
                @include user_text
            }
            .user_title{
                @include user_text(20px, 0.8)
            }
        }
    }

    .user_row:hover{
        background-color: $white-t;
    }

    #logout{
        height: 100%;
        width: 30%;
        padding: 0 7% 0 5%;
        opacity: 0.5;
        transition: $faster;
    }
    #logout:hover{
        background-color: $white-t;
        opacity: 1;
    }
}

.login_container{
    @include user_container;
    transition: $faster;

    #google{
        height: 100%;
        min-width: $sidebar-c;
        margin-right: -5px;
        padding: 0 15px;
        transition: $medium;
    }

    #login{
        height: 100%;
        min-width: max-content;
        margin-bottom: 2px;
        color: #fff;
        border: none;
        background: none;
        font-size: 20px;
        font-family: $grenze;
        transition: $medium;
        cursor: pointer;
    }
}


////////////////// INACTIVE SIDEBAR //////////////////
.sidebar.active{
    width: $sidebar-c;

    .logo_wrap a{
        @include hide(-50%);
        transition: $faster;
    }

    .link_text, #logout{
        @include hide;
    }

    .user_details .user_row .user_column{
        .user_name, .user_title{
            @include hide;
        }
    }

    #login{
        @include hide(-50px);
        transition: $faster;
    }

    #google:hover{
        background-color: $white-t;
    }
}


////////////////// BREADCRUMBS //////////////////
.breadcrumbs{
    position: absolute;
    top: 25px;
    left: 30px;
}

.breadcrumbs > *{
    display: inline-block;
    margin-right: 10px;
}

.breadcrumbs .crumb:after {
    position: absolute;
    top: 8px;
    content: "|";
    margin-left: 9px;
    color: $white;
    font-family: $fraktur;
    font-weight: 400;
}

.breadcrumbs .crumb a {
    color: $white;
    font-family: $cinzel-d;
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
    opacity: 0.6;
    transition: $faster;
}

.crumb a:hover{
    opacity: 1;
}