@use '../abstracts/' as *;

.subtitle{
    @include text;
}

.page_title{
    position: relative;
    font-family: $fraktur;
    font-size: 55px;
    font-weight: 300;
    color: $white;
    width: fit-content;
    z-index: 2;
    pointer-events: none;
}

///////////////////// CHARACTER /////////////////////
.character_name{
    font-family: $grenze;
    font-size: 35px;
    font-weight: 500;
}
.character_info{
    font-family: $grenze;
    font-weight: 300;
    line-height: 10px;
}
///////////////////// CHARACTER /////////////////////