#root{
    position: absolute;
    z-index: -2;
    top: 0px;
    height: 200%;
    width: 100%;
    background-color: #1F191B;
}

#homepaper{
    position: absolute;
    z-index: -1;
    height: 100vw;
    width: 100%;
    object-fit: cover;
}

.wrapper{
    position: absolute;
    height: 120vh;
    width: 100%;
    background-color: none;
}

.homeDiv{
    position: relative;
    display: flex;
    top: 200px;
    justify-content: space-evenly;
}

.homeTitle{
    font-size: 120px;
    color: #ffffff;
    font-family: 'Furgatorio';
    font-stretch:extra-expanded;
}