.wrapper{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #7a4f82;
}

.characterCard{
    height: 250px;
    width: 200px;
    background: linear-gradient(10deg, #3e1346, #77294f);
    color: white;
    margin: 10px;
    border-radius: 10px;
}

.escena{
    height: 100vh;
    width: 100vw;
}