$white: rgba(255, 255, 255, 0.9);
$whitish: rgb(210, 210, 210);
$white-t: rgba(255, 255, 255, 0.102);
$yellow: rgb(186, 126, 80);
$yellow-w: rgb(229, 172, 128);
$gray: rgb(31, 25, 27);
$purple: rgb(62, 19, 70);
$purplish: rgb(119, 41, 107);
$pinkish: rgb(119, 41, 79);

@mixin gradient-p($angle: 90deg){
    background: linear-gradient($angle, $purple, $pinkish);
} 