@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;
@use '../abstracts/variables' as *;

///////////////////// LAYOUTS /////////////////////
@mixin grid($columns: 4, $distance: 1fr, $padding: 27%, $gap: 10px){
    display: grid;
    justify-items: center;
    grid-template-columns: repeat($columns, $distance);
    padding: 0px $padding;
    grid-gap: $gap;
}

@mixin text($family: Grentze, $size: 30px, $color: #ffffff){
    font-family: $family;
    font-size: $size;
    color: $color;
}

@mixin hide($translateX: -30px){
    opacity: 0;
    transform: translateX($translateX);
    pointer-events: none;
    cursor: none;
}

///////////////////// COMPONENTS /////////////////////

@mixin root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: calc(100% - $sidebar-c);
    margin-left: $sidebar-c;
    background-image: url("../../assets/homepaper.jpg");
    object-fit: contain;
}

@mixin user_container{
    display: flex;
    align-items: center;
    height: $user-h;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: $white;
    background-color: $yellow;
    border-top: 2px solid $white;
    cursor: pointer;
}

@mixin user_text($font-size: 20px, $opacity: 1){
    font-size: $font-size;
    font-family: Grenze;
    font-weight: 400;
    line-height: 17px;
    opacity: $opacity;
    transition: all 0.2s ease;
    cursor: pointer;
}

@mixin card{
    width: 300px;
    &:hover{
        transform: translateX(2px)
    }
}