@use '../abstracts/fonts' as *;
@use '../abstracts/variables' as *;

///////////////////// LAYOUTS /////////////////////
@mixin grid($columns: 4, $distance: 1fr, $pad-y: 0px, $pad-x: 27%, $gap: 10px){
    display: grid;
    justify-items: center;
    grid-template-columns: repeat($columns, $distance);
    padding: $pad-y $pad-x;
    grid-gap: $gap;
}

@mixin text($family: Grentze, $size: 30px, $color: #ffffff){
    font-family: $family;
    font-size: $size;
    color: $color;
}

@mixin hide($translateX: -30px){
    opacity: 0;
    transform: translateX($translateX);
    pointer-events: none;
    cursor: none;
}

///////////////////// COMPONENTS /////////////////////

@mixin root{
    position: absolute;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    width: calc(100dvw - $sidebar-c);
    margin-left: $sidebar-c;
    background-color: $white;
}

@mixin user_container{
    @include gradient-p(-180deg);
    display: flex;
    align-items: center;
    height: $user-h;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: $white;
    border-top: 2px solid $white;
    cursor: pointer;
}

@mixin user_text($font-size: 25px, $opacity: 1){
    font-size: $font-size;
    font-family: Grenze;
    font-weight: 400;
    line-height: 21px;
    opacity: $opacity;
    transition: all 0.2s ease;
}

@mixin card{
    width: 300px;
    &:hover{
        transform: translateX(2px)
    }
}

///////////////////// EFFECTS /////////////////////

@mixin grayscale{
    transition: $fast;
    filter:grayscale(1);
    &:hover{
        transition: $fast;
        filter:grayscale(0);
    }
}