.button{
    height: 150px;
    width: 150px;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
}

.selected{
    height: 150px;
    width: 150px;
    border-radius: 5px;
    border: 4px solid red
}

.classContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-gap: 10px;
    justify-items: center;
    padding: 0px 27%;
}